.card__action{
    margin: 0;
    padding: 0;
    margin: auto;
    width: 100%;
    display: block;
    white-space: nowrap;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.2;
    color: #FFFFFF;
    position: relative;
    bottom: 14px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: -29px;
}