@import url(../vendor/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/_type/card_active.css);
@import url(../blocks/card/_type/card_disabled.css);

.page{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background: #000000;
    background-image: url(../images/pattern.png);
}